<div class="main">
  <h1>Voici nos produits</h1>
  <div class="content">
    <% @products.each do | product |%>
    <p><%= product.name %></p>
    <p>Stock <%= product.stock  %></p>
    <% end %>
  </div>
</div>
