<h1>Voici nos produits</h1>
<div >
  <% @products.each do | product |%>
   <%= Product.name %>
  <% end %>

  <% @products.each do |product| %>
    <%= link_to "Acheter", product_path(product) %>
  <% end %>
</div>
